{% extends 'pembukuan/base.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              Dashboard
            </h3>
          </div>
          
          <div class="row grid-margin">
            <div class="col-12">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                      <div class="statistics-item">
                        <p>
                          <i class="icon-sm fa fa-user mr-2"></i>
                          Jemaah Haji
                        </p>
                        <h2>{{jemaah_haji}}</h2>
                      </div>
                      <div class="statistics-item">
                        <p>
                          <i class="icon-sm fas fa-chart-line mr-2"></i>
                          Pemasukan
                        </p>
                        <h2>Rp. {{pemasukan_haji}}</h2>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
           <div class="row grid-margin">
            <div class="col-12">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                      <div class="statistics-item">
                        <p>
                          <i class="icon-sm fas fa-user mr-2"></i>
                          Jemaah Umroh
                        </p>
                        <h2>{{jemaah_umroh}}</h2>
                      </div>
                      <div class="statistics-item">
                        <p>
                          <i class="icon-sm fas fa-chart-line mr-2"></i>
                          Pemasukan
                        </p>
                        <h2>Rp. {{pemasukan_umroh}} </h2>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row grid-margin">
            <div class="col-12">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between"> 
                      <div class="statistics-item">
                        <p>
                          <i class="icon-sm fas fa-chart-line mr-2"></i>
                          Pengeluaran
                        </p>
                        <h2>Rp.</h2>
                      </div>
                      <div class="statistics-item">
                        <p>
                          <i class="icon-sm fas fa-heart mr-2"></i>
                          Laba
                        </p>
                        <h2>Rp.</h2>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
                      
         
          
          
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          
        </footer>
        <!-- partial -->
</div>
{% endblock %}