{% extends 'annabawi/base.html' %}
{% block content %}
{% load static %}
        <!--  HOME SLIDER BLOCK  -->
        
        <div class="slider-wrap">
            <div id="slider_1" class="owl-carousel" data-nav="true" data-dots="false" data-autoplay="true" data-autoplaytimeout="70000" data-bg_effect="false">
                
                <div class="slider_item_container" data-bg_img="{% static 'images/kk.jpg' %}" data-bg_color="#111111" data-bg_opacity="0.25" >
                    <div class="item">
                        <div class="slider-content">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="slider-bg" data-animation-in="fadeInLeft" data-animation-out="zoomInDown">                                         
                                        <div class="col-sm-12 wow fadeInLeft" data-wow-duration="1s">         
                                            <h2 class="margin-bottom-12" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutDown">
                                                ANNABAWI <br />
                                              
                                            </h2>
                                            <h3 class="margin-bottom-24" data-animation-in="zoomIn" data-animation-out="animate-out rollOut"> NYUNNAH, MERENAH, TUMA'NINAH</h3>
                                        </div>                                            
                                    </div> <!-- end .col-sm-12  -->
                                </div> <!-- end .row  -->
                            </div><!-- end .container -->
                        </div> <!--  end .slider-content -->
                    </div> <!-- end .item  -->
                </div> <!-- end .slider_item_container  -->
                
                <div class="slider_item_container" data-bg_img="{% static 'images/kiki.jpg' %}" data-bg_color="#111111" data-bg_opacity="0.25" >
                    <div class="item">
                        <div class="slider-content">
                            <div class="container text-left">
                                <div class="row">
                                    <div class="slider-bg" data-animation-in="fadeInUp" data-animation-out="zoomInDown">                                    
                                        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1s">         
                                            <h3>ANNABAWI</h3>
                                            <h2 class="margin-bottom-12">
                                                 NYUNNAH, MERENAH, TUMA'NINAH
                                            </h2>
                                        </div>                                            
                                    </div> <!-- end .col-sm-12  -->
                                </div> <!-- end .row  -->
                            </div><!-- end .container -->
                        </div> <!--  end .slider-content -->
                    </div> <!-- end .item  -->
                </div> <!-- end .slider_item_container  -->
                
            </div> <!-- end .slider_1  -->
        </div> <!-- end .slider-wrap.  -->
        
        <!-- SECTION ABOUT US  -->
        
        <section class="section-content-block section-pure-white-bg no-bottom-padding"  data-bg_img="images/bg-gradient-right.png" data-bg_color="#edf0f2" data-bg_opacity="0.3" data-bg_position="bottom right" data-bg_size="contain" id="tentang">
            <div class="container">
                <div style="text-align: center" class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <div class="row margin-bottom-48">
                            <div class="about-us-intro">
                                <div class="col-md-12 col-sm-12 text-left margin-bottom-24">
                                    <h2 class="block-heading-title margin-top-12 text-dark-color">Tentang Kami</h2>
                                    <p>
                                    We are dedicated to helping our clients reach their ultimate goals and full
                                     potential, to personalizing their event experiences.
                                    </p>
                                </div> <!-- end .col-sm-12  --> 
                            </div>
                            <div class="col-md-12">
                                <div class="">                                    
                                    <div class="highlight-text">
                                        <h5>Visi & Misi</h5>
                                        <div>Lorem ipsum dolor sit lamet isdiam integrer eapri. Per fugitzril apeirian cumea aseaap pareat. Lorem ipsum dolor sit lamet isdiam integrer eapri. Per fugitzril apeirian cumea aseaap pareat. Lorem ipsum dolor sit lamet isdiam integrer eapri. Per fugitzril apeirian cumea aseaap pareat. Lorem ipsum dolor sit lamet isdiam integrer eapri. Per fugitzril apeirian cumea aseaap pareat. Lorem ipsum dolor sit lamet isdiam integrer eapri. Per fugitzril apeirian cumea aseaap pareat.</div>
                                    </div> <!-- end .service-text  -->
                                </div> <!-- end .service-item  -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs hidden-md">
                        <figure class="about-us-img wow fadeInLeft about-us-stick-bottom">
                            <img src="images/about_person_bg.jpg" alt="about_person_bg"/>
                        </figure>
                    </div>
                    
                </div> <!--  end .row  -->
            </div> <!--  end .container -->
        </section>  <!--  end .appointment-section  -->
        
        <!--  COUNTER SECTION 02  -->
        
        
         <!--  SECTION SERVICE 03 -->

        <section class="section-content-block" id="jadwal">
            <div class="container wow fadeInUp">
                <div class="row section-heading-wrapper">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h4 class="heading-alt-style text-capitalize text-dark-color">Jadwal Pemberangkatan</h4>
                        <span class="heading-separator heading-separator-horizontal"></span>
                        <h2 class="subheading-alt-style">
                           Silahkan Pilih Jadwal Pemberangkatan Anda !
                        </h2>
                    </div> <!-- end .col-sm-12  --> 

                </div>

                <div class="row">  
                    
                    <div class="service-carousel owl-carousel" data-dots="false" data-nav="false" data-items="3">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            
                            <article class="service-block-2 text-center">
                                <figure>
                                    <img src="images/service_1.jpg"/>
                                </figure>
                                <h3>
                                    <span>Haji</span>
                                    <br>
                                    Agustus 2019
                                    <br>
                                    Rp. 60.000.000
                                </h3>
                            </article>
                        </div> <!--  end .col-lg-4 col-md-4 col-sm-12  -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <article class="service-block-2 text-center">
                                    <figure>
                                        <img src="{% static 'baru/images/service_2.jpg' %}"/>
                                    </figure>
                                    <h3>
                                        <span>Haji</span>
                                      <br>
                                       Juli 2019
                                       <br>
                                    Rp. 60.000.000
                                    </h3>
                                </article>
                            </a>
                        </div> <!--  end .col-lg-4 col-md-4 col-sm-12  -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <article class="service-block-2 text-center">
                                <figure>
                                    <img src="images/service_2.jpg"/>
                                    </figure>
                                <h3>
                                    <span>Umroh</span>
                                    <br>
                                    September 2019
                                    <br>
                                    Rp. 60.000.000
                                </h3>
                            </article>
                        </div> <!--  end .col-lg-4 col-md-4 col-sm-12  -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <article class="service-block-2 text-center">
                                <figure>
                                    <img src="images/service_2.jpg"/>
                                </figure>
                                <h3>
                                    <span>Umroh</span>
                                    <br>
                                    Desember 2019
                                    <br>
                                    Rp. 60.000.000
                                </h3>
                            </article>
                        </div> <!--  end .col-lg-4 col-md-4 col-sm-12  -->
                    </div>
                </div>  <!--  end .row  --> 
            </div> <!--  end .container  -->
        </section> <!--  end .section-content-block -->
        
        <!--  FEATURED ABOUT US SECTION-->
        <section class="cta-layout-02 section-primary-bg" id="temukan">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <h2 class="text-light-color">
                        Segera Daftarkan Diri Anda ! 
                        </h2>
                        <p class="text-light-color">
                            Haji dan Umroh bersama Annabawi Tour and Travel, layanan bersahabat, perjalanan nyaman.
                        </p> 
                    </div> <!--  end .col-md-8  -->
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                        <a class="btn btn-theme btn-square btn-theme-invert wow bounceIn" href="#">Daftar</a>
                    </div> <!--  end .col-md-4  -->
                </div> <!--  end .row  -->
            </div>
        </section> 
        
  <!--  end .newsletter section--> 
        <section class="section-content-block section-contact-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow fadeInRight">
                        <h2 class="contact-title">Temukan Kami</h2>
                        <div class="section-google-map-block wow fadeInUp">
                            <div id="map_canvas"></div>
                        </div> <!-- end .section-content-block  -->                            
                    </div> <!--  end col-sm-6  -->   
                    </div> <!--  end col-sm-6  -->
                </div> <!-- end row  -->
            </div> <!--  end .container -->
        </section> <!-- end .section-content-block  -->
        
        <!-- START FOOTER  -->
{% endblock %}